{% extends 'base.html' %}

{% block title %}
	All The Breweries
{% endblock %}

{% block content %}
	<div class="container mt-1">

		<ul class="list-group">
			{% for brewery in brewery_list %}
    		<li class="list-group-item d-flex justify-content-between align-items-center mb-1">
                <a href="{% url 'brewery:BreweryDetail' slug=brewery.slug %}">
                    {{ brewery }}
                </a>
				{{ brewery.beer_amount }}
    		</li>
    	{% endfor %}
		</ul>
	</div>
{% endblock %}
