{% extends 'base.html' %}

{% block title %}
	{{ object.name }} - {{ block.super }}
{% endblock %}

{% block content %}
	<h1>
  	    {{ object }}
	</h1>
	<ul class="list-group list-group-horizontal">
  	{% for beer in object.brewered.all %}
    	<li class="list-group-item">
		{% if beer.version %}
        <a href="{{ beer.get_absolute_url }}">{{ beer.title_for_render }} {{ beer.version }}</a>
		{% else %}
		<a href="{{ beer.get_absolute_url }}">{{ beer.title_for_render }}</a>
		{% endif %}
    	</li>
    {% empty %}
    	<li class="list-group-item">Beers are unknown.</li>
    {% endfor %}
  </ul>
{% endblock %}
