{% extends 'base.html' %}

{% block title %}
	All The Beers
{% endblock %}

{% block content %}
	<div class="container mt-1">

		<ul class="list-group">
			{% for beer in object_list %}
    		<li class="list-group-item d-flex justify-content-between align-items-center mb-1">
			<img src="{{ beer.icon.url }}" class="col-1" alt="{{ beer }}">
        	<a href="{% url 'beer:BeerDetail' pk=beer.id %}">
        		{{ beer }}
        	</a>
        	<span class="badge badge-primary badge-pill">Brewed by: {{ beer.brewery }}</span>
			<span class="badge badge-primary badge-pill">Added by: {{ beer.hunter }}</span>
    		</li>
    	{% endfor %}
		</ul>
	</div>
{% endblock %}
