{% extends 'base.html' %}

{% block title %}
	{{ object.title }} - {{ block.super }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-2">
			<img src="{{ object.icon.url }}" class="img-fluid" alt="{{ object.title }}">
		</div>
	</div>
	<h1>
  	{{ object }}
	</h1>
	{% if object.brewery %}
		<p class="h6">
    		Brewed by: <a href="{% url 'brewery:BreweryDetail' pk=object.brewery.id %}">{{ object.brewery }}</a>
		</p>
	{% else %}
		<p class="h6">
    		Brewed by: Unknown master</a>
		</p>
	{% endif %}
	<p class="h6">
    Style: {{ object.style }}
	</p>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><span class="badge badge-success">OG — {{ object.og }}%</span></li>
        <li class="list-group-item"><span class="badge badge-success">ABV — {{ object.abv }}%</span></li>
        <li class="list-group-item"><span class="badge badge-success">IBU — {{object.ibu}}</span></li>
    </ul>
	<h3>
    Used hops:
	</h3>
  <ul class="list-group list-group-horizontal">
  	{% for hop in object.hops.all %}
    	<li class="list-group-item"><a href="{% url 'hop:HopDetail' pk=hop.id %}">{{ hop }}</li>
    {% empty %}
    	<li class="list-group-item">Hops are unknown.</li>
    {% endfor %}
  </ul>
{% endblock %}
