{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Update Beer</h1>

    <form class="" action="" method="post">
        <div class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <!--{% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}
            -->
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

{% endblock %}